#header {
  display: flex;
  font-size: 200%;
  background-color: gray;
  width: 100%;
  margin: 0 auto;
  height: 75px;
  align-items: center;
}

h1 {
  display: flex;
  color: gray;
  margin-left: 5%;
  margin-right: 45%;
  font-size: 100%;
  background-color: lightblue;
}

ul {
  float: right;
  font-size: 25px;
}

ul a {
  text-decoration: none;
  color: lightblue;
  text-decoration: underline;
}

li {
  display: inline;
}
#header nav {
  position: flex;
  left: auto;
  right: auto;
  top: 0px;
  height: 150px;
  width: 1400px;
  border-bottom: solid;
}
